.input-component {
    margin-bottom: 10px;
}

.input-component label {
    display: block;
    margin-bottom: 5px;
}

.input-component input {
    width: 90%;
    padding: 5px;
}

.myForm{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

#myForm{
  position: relative;
  display: flex;
  width: 90%;
  border: 5px solid #61C353;
  background: #3841CA;
  padding: 0 0 20px;
  height: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
